# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.g.dart
*.freezed.dart

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/key.properties
android/local.properties
*.jks
*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec

# Secrets
.env
*.env
lib/data/remote/supabase_credentials.dart
lib/core/constants/api_keys.dart

# Assets lourds (optionnels, à discuter)
# assets/images/
# assets/avatars/
# assets/badges/

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
package-lock.json
package.json

# SQL
*.sql

# Logs
*.log
